@use '../abstracts/colors' as *;
@use '../abstracts/fonts' as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #7a7a7a;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 75em;
  margin-inline: auto;
  padding-inline: 2.1875em;
}

ul {
  list-style-type: none;
}

a {
  color: #7a7a7a;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/*Scroll to top button*/
.scrollToTop-btn {
  position: fixed;
  color: #444444;
  background-color: #ffffff;
  z-index: 9999;
  width: 2.5em;
  height: 2.5em;
  border: 1px solid #444444;
  border-radius: 50%;
  bottom: 1.43em;
  right: 0;
  font-size: $body-sm;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  transition: all 500ms ease;
}

.scrollToTop-btn:hover {
  color: #ffffff;
}

.scrollToTop-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #444444;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 350ms ease;
}

.scrollToTop-btn:hover::before {
  transform: scale(1);
}

.scrollToTop-btn.active {
  opacity: 1;
  right: 1.25em;
  pointer-events: all;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0.937em;
  background-color: #ece9e9;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #979696;
}
