@use '../abstracts' as *;

.welcome {
  padding-block-start: 9.375em;
  padding-inline: 2.19em;
}

.welcome-wrapper {
  @include largeSize {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 1.5em;
  }
}

.welcome-col-left {
  @include middleSize {
    max-width: 85%;
  }
}

.welcome-col-left p {
  font-size: $body-sm;
  line-height: 1.43em;
  margin-block: 2.5em 1em;
}

.welcome-title {
  position: relative;
  margin-block-end: 2em;
  overflow: hidden;
}

.welcome-title h2 {
  color: $color-first;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.24em;
  margin-block: 0.16em 0.53em;
}

.welcome-phone-num {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.welcome-phone-num p span {
  color: $color-first;
  font-weight: 600;
  margin-inline-start: 0.71em;
}

.welcome-phone-num img {
  transform: rotate(180deg);
  align-self: flex-end;
}

.welcome-anim-1 {
  --y: 0;
  position: relative;
}

.welcome-anim-1::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: #ffffff;
  transform: translateY(var(--y));
}

.welcome-signature {
  clip-path: inset(0 100% 0 0);
  transition: all 1s ease;
}

.welcome-col-right {
  position: relative;
}

.welcome-col-right-img {
  position: relative;
}

.welcome-img-bg {
  border-radius: 0 90px;
  width: 100%;
  height: 100%;
}

.welcome-shape-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 50%);

  @media (min-width: 31.25rem) {
    transform: translate(0, 50%);
  }
}

.welcome-shape-1 > :first-child {
  width: 70%;

  @media (min-width: 31.25rem) {
    width: min(100%, 108px);
  }
}

.welcome-shape-1 > :last-child {
  @include smallSize {
    width: min(100%, 110px);
  }

  @media (min-width: 31.25rem) {
    transform: translate(5px, -11px);
  }
}

.welcome-shape-2 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  transform: translate(100%, 31%);
}

.welcome-shape-2 img {
  width: 85%;

  @media (min-width: 31.25rem) {
    width: 95%;
  }
}

//animation about
.welcome-img-anim {
  --opacity: 0;
  --x: -50%;

  opacity: var(--opacity);
  transform: translateX(var(--x));
}

.welcome-circle-img-anim {
  --opacity2: 0;
  --marginL: -100px;

  opacity: var(--opacity2);
  margin-inline-start: var(--marginL);
  transition: all 1s ease-in-out;
}

.about-rectangle-green-anim {
  --opacity3: 0;
  --y3: 50px;

  opacity: var(--opacity3);
  transform: translateY(var(--y3));
  transition: all 1s ease;
}

.about-half-circle-blue-anim {
  --opacity3: 0;
  --y2: 100px;

  opacity: var(--opacity3);
  transform: translateY(var(--y2));
  transition: all 0.5s ease;
}

.about-rectangle-yellow-anim {
  --scaleY2: 0;

  transform: scaleY(var(--scaleY2));
  transform-origin: 0 0;
  transition: all 1s ease;
}

//welcome-brochure
.welcome-brochure {
  color: #fff;
  background-image: $gradient-5;
  margin-block-start: 150px;
  padding: 80px 30px;
  border-radius: 0 6.25em;

  @include largeSize {
    padding: 51px 90px 62px 80px;
  }
}

.welcome-brochure-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4.37em;
  overflow: hidden;

  @include largeSize {
    flex-direction: row;
    justify-content: space-between;
  }
}

.welcome-brochure-content {
  @include largeSize {
    display: flex;
    text-align: left;
    gap: 1.5em;
  }
}

.welcome-brochure-content h3 {
  font-size: 1.625rem;
  line-height: 1.3em;
  font-weight: 500;

  @include largeSize {
    font-size: $title-lg;
  }
}

.welcome-brochure-content p {
  font-size: $title-md;
  line-height: 1.38em;
  font-weight: 300;
  margin-block-start: 8px;

  @include largeSize {
    font-size: $headline-sm;
  }
}

.our-team-container {
  padding-inline: 2.187em;
  padding-block-start: 9.375em;
}

.our-team .wave-img {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.our-team-title {
  text-align: center;
  margin-block-end: 4em;
}

.our-team-title .btn-primary {
  margin-block-start: 0;
}

.our-team-title h2 {
  color: $color-first;
  font-size: $title-lg;
  font-weight: 500;
  line-height: 1.24em;
}

.our-team-wrapper {
  @include middleSize {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
    gap: 1.25em;
  }
}

.our-team-card {
  position: relative;
  margin-block-end: 2.5em;
}

.our-team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 3.125em;
}

.our-team-content {
  position: absolute;
  background-image: $gradient-5;
  border-radius: 0 3.125em;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em 1.25em 2.5em 2.81em;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease;
}

.our-team-card:hover .our-team-content {
  visibility: visible;
  opacity: 1;
}

.our-team-content h4 {
  color: #fff;
  font-size: $headline-sm;
  font-weight: 500;
  line-height: 1.33em;
  margin-block-end: 0.42em;
}

.our-team-content p {
  color: #ffffff99;
  font-size: 1rem;
  margin-block: 0.19em 0.62em;
}

.our-team-card-8 {
  background-image: $gradient-7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25.81em;
  border-radius: 0 3.125em;
}

.our-team-card-8 h4 {
  color: $color-first;
  font-size: 1.75rem;
  margin-block-end: 0.71em;
}

.our-team-card-8 p {
  color: $color-first;
}

/* Our skill */
.our-skill {
  margin-block-start: 9.375em;
  padding-inline: 2.187em;
}

.our-skill-left-col h2 {
  color: $color-first;
  font-size: $title-lg;
  font-weight: 600;
  line-height: 1.24em;
  margin-block: 0.15em 0.73em;
}

.our-skill-left-col p {
  font-size: $body-sm;
  line-height: 1.43em;
  margin-block-end: 1.71em;
}

.bars {
  margin-block-start: 4.125em;
}

.bar {
  margin-block-end: 1.25em;
}

.bar .info {
  color: $color-first;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-block-end: 0.25em;
}

.bar .info-1 {
  width: 75%;
}

.bar .info-2 {
  width: 90%;
}

.bar .info-3 {
  width: 60%;
}

.bar .info-4 {
  width: 80%;
}

.info > *:first-child {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  padding-inline-start: 0.5em;
}

.info > *:first-child::before {
  content: '';
  position: absolute;
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background-image: $gradient-7;
  left: 0;
  top: 0.55em;
}

.info-percentages {
  font-size: 1.75rem;
  font-weight: 300;
}

.bar .line {
  --width: 100%;

  position: relative;
  width: var(--width);
  height: 0.75em;
  background-color: #e2e2e2;
  border-radius: 0.25em;
}

.bar .line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-image: $gradient-8;
  border-radius: 8px;
}

.bar .creativity::before {
  width: 75%;
}

.bar .development::before {
  width: 90%;
}

.bar .marketing::before {
  width: 60%;
}

.bar .analysis::before {
  width: 80%;
}
