@use '../abstracts' as *;

.blog-article {
  padding-block-start: 9.375em;
  padding-inline: 2.19em;
}

.blog-article-img img {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 20px;
}

.blog-article-content h1 {
  color: $color-first;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3em;
  text-align: center;
  text-transform: capitalize;
  margin-block: 90px 36px;
}

.blog-article-info {
  display: flex;
  justify-content: center;
  margin-block-end: 36px;
}

.blog-article-info
  :is(.blog-article-data, .blog-article-author, .blog-article-tex) {
  padding-inline: 0.8em;
}

.blog-article-info :is(.blog-article-author, .blog-article-tex) {
  position: relative;
}

.blog-article-info :is(.blog-article-author, .blog-article-tex)::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 1px;
  height: 10px;
  background-color: #bbbbbb;
}

.blog-article-tex span {
  text-transform: uppercase;
  font-weight: 400;
}

.blog-article-description {
  font-size: $body-sm;
  line-height: 1.43em;
  margin-block-end: 1em;
}

.blog-tags {
  position: relative;
  margin-block-start: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-tags-tex {
  color: #202020;
  font-weight: 600;
  font-size: $body-lg;
}

.blog-tags-tex span {
  color: $color-first;
}

.blog-buttons {
  display: flex;
}

.blog-buttons :is(.blog-like, .blog-share) {
  position: relative;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0px 4px 20px #d6d6d6; //#005ae933
  cursor: pointer;
  display: grid;
  place-items: center;
}

.blog-buttons :is(.blog-like, .blog-share)::before {
  content: '';
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 100%;
  background-image: $gradient-2;
  opacity: 0;
  transition: all 350ms ease;
}

.blog-buttons :is(.blog-like, .blog-share):hover::before {
  opacity: 1;
}

.blog-buttons .blog-like {
  width: 68px;
  height: 59px;
  margin-inline-end: 10px;
}
.blog-buttons .blog-share {
  width: 56px;
  height: 53px;
}

.blog-buttons :is(.blog-tags-img, .blog-tags-img) {
  position: relative;
  z-index: 2;
}

.blog-buttons :is(.blog-like, .blog-share):hover .blog-tags-img path {
  stroke: #ffffff;
}

.blog-divider {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin-block-start: 50px;
}

/* blog-comment */
.blog-comment {
  padding-block-start: 80px;
  margin-inline: 2.19em;
}

.blog-comment-content h3 {
  color: $color-first;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 2.25em;
}
