@use '../abstracts' as *;

.our-service {
  padding-block-start: 9.375em;
  padding-inline: 2.19em;

  @include largeSize {
    padding-block-start: 14.18em;
  }
}

.our-service-wrapper {
  overflow: hidden;
  @include largeSize {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;
    align-items: end;
  }
}

.our-service-title h2 {
  color: $color-first;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.24em;
  margin-block: 0.16em 0.53em;
  text-transform: capitalize;

  @include largeSize {
    margin-block: 0;
  }

  @include extraLargeSize {
    font-size: 3rem;
    max-width: 85%;
  }
}

.our-service-text {
  font-size: $body-sm;
  line-height: 1.43em;
  margin-block: 2.5em 1em;

  @include largeSize {
    font-size: $body-md;
  }
}

.our-services-container {
  margin-block-start: 8.75em;

  @include largeSize {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(21.25em, 100%), 1fr));
    gap: 3.125em;
  }
}

/* our-fact */
.our-fact {
  position: relative;
  margin-block-start: 9.375em;
}

.our-fact-wave-img {
  position: absolute;
  z-index: -1;
}

.our-fact-img-yellow {
  margin-inline-start: 2.19em;
}

.our-fact .our-fact-container {
  padding-inline: 2.19em;
  padding-block-start: 9.375em;
  text-align: center;
  max-width: 1100px;
  margin-inline: auto;
}

.our-fact-content {
  position: relative;

  @include middleSize {
    display: flex;
    align-items: center;
    gap: 2em;
  }
}

.our-fact-img {
  position: absolute;
  transform: rotate(10deg);
  top: 0;
  left: 0;

  @include smallSize {
    left: 10%;
  }

  @include middleSize {
    position: unset;
  }

  @include largeSize {
    align-self: flex-start;
    margin-block-start: 50px;
  }
}

.our-fact-title {
  margin-block-end: 1.5em;
  max-width: 43.75em;
  margin-inline: auto;
}

.our-fact-title h2 {
  color: $color-first;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.28;
  max-width: 17.86em;
  margin-inline: auto;
  margin-block-end: 1em;

  @include middleSize {
    font-size: $title-lg;
  }

  @include largeSize {
    font-size: $headline-md;
  }
}

.our-fact-title p {
  font-size: $body-sm;
  line-height: 1.4;

  @include largeSize {
    font-size: $body-md;
  }
}

.our-fact-img-2 {
  display: none;

  @include middleSize {
    display: block;
    align-self: flex-end;
  }
}

//stats
.our-stats {
  margin-block: 8.125em 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;

  @include middleSize {
    flex-direction: row;
    justify-content: space-between;
    margin-block: 5em 2em;
  }
}

.our-stats > :first-child {
  position: relative;
}

.our-stats-img {
  position: absolute;
  top: 0;
  right: 0;

  @include middleSize {
    display: none;
  }
}

.our-stats span {
  color: $color-first;
  font-size: 50px;
  font-weight: 500;

  @include largeSize {
    font-size: $display;
  }
}

.our-stats h4 {
  color: #212121;
  font-size: $body-lg;
  font-weight: 500;
  margin-block: 4px 8px;
  opacity: 0.95;

  @include middleSize {
    font-size: $title-md;
  }
}

/* about us */
.about-us {
  margin-block-start: 9.375em;
  padding-inline: 2.19em;
}

.about-us-wrapper {
  @include largeSize {
    display: grid;
    grid-template-columns: 55% 1fr;
  }
}

.about-us-left-col-inner {
  position: relative;
}

.about-us-img {
  transform: translateX(-17px);
}

.about-us-img img {
  border-radius: 0 6.25em;
}

.about-us-content {
  --clipPath: polygon(0 0, 0 0, 0 100%, 0% 100%);

  color: $color-first;
  background-image: $gradient-7;
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 16.56em;
  border-radius: 3.125em 0;
  padding: 1.25em 1.25em 0.94em;
  clip-path: var(--clipPath);
  transform: translate(1.5em, 2.5em);
  transition: all 1.25s ease;

  @include middleSize {
    transform: translate(1.5em, -3.5em);
  }

  @include largeSize {
    transform: translate(3em, -3.5em);
  }

  @include largeSize {
    padding: 35px 30px 22px;
    max-width: 17.81em;
  }
}

.about-us-headline {
  font-size: $body-lg;
  font-weight: 600;
  line-height: 1.33em;
  margin-block: 0.22em 0.55em;

  @include largeSize {
    font-size: $title-md;
  }

  @include extraLargeSize {
    font-size: $headline-sm;
    white-space: nowrap;
  }
}

.about-us-description {
  font-size: $body-sm;
  font-weight: 400;
  line-height: 1.43em;
  margin-block-end: 1em;
}

.about-us-right-col {
  padding-block-start: 2.5em;

  @include middleSize {
    padding-inline-start: 90px;
  }

  @include largeSize {
    padding-block-start: 0;
  }

  @include extraLargeSize {
    padding-block-start: 6em;
  }
}

.about-us-right-col .btn-primary {
  @include middleSize {
    margin-block-start: 0;
  }
}

.about-us-right-col h2 {
  color: $color-first;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.26em;
  max-width: 19em;

  @include extraLargeSize {
    font-size: 3rem;
  }
}

.about-us-right-col p {
  font-size: $body-sm;
  line-height: 1.43em;
  margin-block: 2.14em 4.28em;
  max-width: 42.86em;

  @include largeSize {
    font-size: $body-md;
  }
}

.about-us-right-col-anim {
  --scaleY: 1;

  position: relative;
}

.about-us-right-col-anim::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: #ffffff;
  z-index: 1;
  transform-origin: 0 100%;
  transform: scaleY(var(--scaleY));
}
