$color-first: #00276a;
$color-second: #ffe046;
$color-surface: #f8f8f8;
$color-third: #7a7a7a;
$gradient-1: linear-gradient(0deg, #fcad25 0%, #ffe046 100%);
$gradient-2: linear-gradient(135deg, #00276a 0%, #2c63c2 100%);
$gradient-3: linear-gradient(354deg, #efefef 0%, #f9f9f9 100%);
$gradient-4: linear-gradient(180deg, #fcad25 0%, #ffe046 100%);
$gradient-5: linear-gradient(#00276a 0%, #2c63c2 100%);
$gradient-6: linear-gradient(45deg, #2c63c2 0%, #00276a 100%);
