$display: 4.5rem; //72
$headline-lg: 3.5625rem; //57px
$headline-md: 2.8125rem; //45px
$headline-sm: 1.5rem; //24px
$title-lg: 1.75rem; //28px
$title-md: 1.3125rem; //21px
$body-lg: 1.125rem; //18px
$body-sm: 0.875rem; //14px
$body-md: 1rem; //16px
